@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

@import "reset.css";
@import "login.css";

body {
    font-family: Georgia, 'Nanum Gothic', sans-serif;
    background: oldlace;
    background-size: cover;
}

button {
    border: none;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
}
h2 {
    font-size: 1.5em;
    font-weight: bolder;
}
h3 {
    font-size: 1.17em;
    font-weight: bolder;
}

/* 요소 숨기는 css*/
.hidden {
    display: none !important;;
}

#main-container {
    height: 100vh;
}

.main {
    padding: 50px;
    padding-top: 0px;
}

.primary,
#music-player,
#weather,
#quote {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#welcome-greeting {
    grid-area: welcome-greeting;
    padding: 10px 50px 10px 50px;
    display: flex;
    align-items: center;
}

#logout-btn {
    background-color: black;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 35px;
    cursor: pointer;
    margin-left: 10px;
}

.clock-calendar {
    grid-area: clock-calendar;
    background-color: rgb(219, 195, 161);
    color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#clock,
.todays {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock {
    margin-bottom: 20px;
}

#calendar {
    width: 225px;
}

#calendar .cal__month {
    text-align: center;
    margin-bottom: 10px;
}
#calendar .cal-wrap {
    height: 120px;
}

#calendar .cal-wrap__weekday {
    display: flex;
}

.cal-wrap__weekday .weekday__day:first-child {
    color: red;
}
.cal-wrap__weekday .weekday__day:last-child {
    color: blue;
}

#calendar .cal-wrap__dates {
    display: flex;
    flex-flow: wrap;
    line-height: 1.2;
}

.cal-wrap__weekday .weekday__day,
#calendar .dates__date {
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-wrap__dates .today {
    position: relative;
    color: black;
    z-index: 1;
}

.cal-wrap__dates .today::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 2px;
    z-index: -1;
}

.primary {
    grid-area: primary;
    text-align: center;
    min-width: 300px;
    overflow: auto;
}

.primary h1 {
    margin: 20px 0px;
}

#todo-form input {
    width: 70%;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 10px;
}

#todo-form input:focus {
    border-width:  3px;
}

#todo-list {
    padding: 10px 40px;
}

#todo-list li {
    padding: 8px 0;
    font-size: large;
    text-align: left;
    display: flex;
    align-items: center;
}

#todo-list li label span {
    word-break: keep-all;
    line-height: normal;
}

#todo-list li input{
    width: 15px;
    height: 15px;
}

#todo-list li label {
    padding-left: 5px;
}

/* 체크박스 선택 시 */
#todo-list input[type=checkbox]:checked + label {
    text-decoration: line-through;
    color: #7f7c7c;
}

#todo-list button,
#music-control button{
    background: none no-repeat;
    border: none;
    cursor: pointer;
}

#todo-list button img {
    width: 22px;
    height: 22px;
    background-size: cover;
    opacity: 0.7;
}

/* 삭제버튼에 마우스 올릴 경우 */
#todo-list button:hover img{
    opacity: 1;
}

#music-player {
    grid-area: music-player;
    padding: 30px;
    text-align: center;
    min-width: 380px;
}

#player {
    display: none;
}

#music-info img{
    margin-bottom: 20px;
}

#music-info span{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#music-info #music-name {
    font-weight: 700;
}

#audio {
    padding-top: 25px;
    padding-bottom: 10px;
}

#audio #progress-bar-container{
    height: 7px;
    width: 100%;
    border-radius: 10px;
    background: #f0f0f0;
    cursor: pointer;
}

#audio #progress-bar{
    height: inherit;
    width: 0%;
    border-radius: inherit;
    position: relative;
    background: #9e9e9e;
}

#timer {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

#music-control {
    display: flex;
    justify-content: space-evenly;
}

#music-control button img {
    width: 30px;
    height: 30px;
    background-size: cover;
}

/* 마우스를 올렸을 때 효과*/
#music-control button:hover {
    transform: scale(1.1);
}

#quote {
    grid-area: quote;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-size: cover;
    text-align: center;
}

#quote span {
    color: white;
    padding: 1rem;
    word-break: keep-all;
    line-height: 1.3;
}

#weather {
    grid-area: weather;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weather span:nth-child(1) {
    font-weight: bold;
    font-size: x-large;
    color: rgb(186, 182, 182);
    margin-bottom: 10px;
}

#weather span:nth-child(2),
#weather span:last-child{
    font-weight: bold;
    font-size: large;
    color: rgb(90, 84, 84);
}

#weather img {
    width: 45px;
    height: 45px;
}

@media (min-width: 1024px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 0.6fr 1fr;
        grid-template-rows: 0.3fr 1fr;
        grid-template-areas:
        'quote weather clock-calendar'
        'music-player . primary';
        gap: 30px;
    }
}

@media (max-width: 1024px) {
    .main {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: minmax(auto, 200px) 1fr;
        grid-template-areas:
        'quote weather clock-calendar'
        'music-player music-player primary';
        gap: 20px;
    }
}